@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #307bef;
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  text-decoration: underline;
}

body {
  min-height: 100vh;
}
